body {
    background-color: aqua;
    padding: 20px 40px;
    margin: 0 auto;
    font-family: sans-serif;
    width: 60%;

}

.Page {
    text-align: center;
}

.Page-header {
    /* background-color: lightgrey; */
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Page-link {
    color: #61dafb;
}

/* HEADER */
ul.header {
    text-align: center;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin-right: 2rem;
    padding: 1rem;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

ul.header li:hover,
ul.header li:active {
    background-color: grey;
}

ul.header li a {
    text-decoration: none;
}

.content {
    background-color: white;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
}
